@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Mulish', sans-serif;
  font-size: 1.1vw;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@media screen and (max-width: 1023px) {
  html,
  body {
  font-size: 2.3vw;
  }
}
@media screen and (max-width: 767px) {
  html,
  body {
  font-size: 4.2vw;
  }
}
